.jumbotron{
	background-color: skyblue;
	color: black; 
	margin-top: 25px;
}


footer {
	background-color: skyblue;

}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}
.fpc{
	padding-right: 10px;
}