.jumbotron {
  background-color: #fff019;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #fff019;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.fpc {
  padding-right: 10px; }
