$yellow: #fff019;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron{
	background-color: $yellow;
	color: black; 
	@include margenes(50px, 0px);
}


footer {
	background-color: $yellow; 
	@include margenes(10px, 0px);

}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	@include margenes(50px, 0px);
}

.btn-reserva{
	width: 100%;
}
.fpc{
	padding-right: 10px;
}